// Import all the tools needed to customize the theme and extract parts of it
// @import '~@angular/material/core/theming/all-theme';
@import '../../all-theme';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin ap-avatar-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  $size-large: 140px;
  $size-normal: 80px;
  $size-small: 40px;
  $size-mini: 25px;

  img[ap-avatar] {
    min-width: $size-normal;
    max-width: $size-normal;
    min-height: $size-normal;
    max-height: $size-normal;

    &.large {
      min-width: $size-large;
      max-width: $size-large;
      min-height: $size-large;
      max-height: $size-large;
    }
    &.normal {
      min-width: $size-normal;
      max-width: $size-normal;
      min-height: $size-normal;
      max-height: $size-normal;
    }
    &.small {
      min-width: $size-small;
      max-width: $size-small;
      min-height: $size-small;
      max-height: $size-small;
    }
    &.mini {
      min-width: $size-mini;
      max-width: $size-mini;
      min-height: $size-mini;
      max-height: $size-mini;
    }
  }

}
