// Import all the tools needed to customize the theme and extract parts of it
// @import '~@angular/material/core/theming/all-theme';
@import '../../all-theme';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin ap-badge-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  [ap-badge] {
    background: md-color($primary, 500);
    color: white;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    padding: 1px 9px;
    border-radius: 25px;

    &[round] {
      border-radius: 100%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 11px;
    }

    span { display: block; text-align: center; }
  }

}
