// Import all the tools needed to customize the theme and extract parts of it
// @import '~@angular/material/core/theming/all-theme';
@import '../../all-theme';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin ap-list-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  md-nav-list[ap-list] {
    padding-top: 0;
    border-right: 1px solid md-color($md-ap-light-grey, 500);

    [md-list-item] {
      .md-list-item {
        height: $item-height;
        border-bottom: 1px solid md-color($md-ap-light-grey, 500);

      }
      &.selected,
      &[selected] {
        box-shadow: 0 0 16px 0 rgba(0,0,0,.19);
      }
    }

  }

}
