@import '../../lib/core/theming/ap-theme/agorapulse-theme';

@include ap-default-theme();

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  md-sidenav {
    min-width: 15%;

    [md-button] {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }

  .demo-content {
    padding: 32px;
  }

  md-toolbar {
    md-icon {
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  h1 {
    font-size: 20px;
  }

  .color {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 14px;
    &.extra { width: 20px; height: 20px; margin: 30px;}

    &.orange { background-color: md-color($md-ap-orange, 500); }
    &.light-orange { background-color: md-color($md-ap-light-orange, 500); }
    &.dark { background-color: md-color($md-ap-dark, 500); }
    &.light-dark { background-color: md-color($md-ap-light-dark, 500); }

    &.blue { background-color: md-color($md-ap-blue, 500); }
    &.green { background-color: md-color($md-ap-green, 500); }
    &.red { background-color: md-color($md-ap-red, 500); }
    &.dark-grey { background-color: md-color($md-ap-dark-grey, 500); }
    &.grey { background-color: md-color($md-ap-grey, 500); }
    &.light-grey { background-color: md-color($md-ap-light-grey, 500); }

    &.placeholder { background-color: $color-placeholder; }
    span {
      font-size: 11px;
      position: absolute;
      top: -15px;
    }
  }

  [ap-avatar] {
    margin-right: 20px;
    margin-left: 5px;
  }

  .headers,
  .colors,
  .form-inputs,
  .buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    [ap-select],
    [ap-input] { margin: 0 auto !important; }
    [ap-select] { width: 220px; }
    > div {
      > * { display: block; }
    }
  }

  .demo-sidenav-layout {
    height: 300px;
  }
}
