// @import '@angular/material/core/theming/all-theme';
@import '../../lib/core/theming/all-theme';
@import 'pallete';
@import 'variables';
// Plus imports for other components in your app.
@import 'components/navbar';

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700);

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

.ap-default-theme {
  // Define the palettes for your theme using the Material Design palettes
  // available in palette.scss (imported above). For each palette, you can
  // optionally specify a default, lighter, and darker hue.
  $agorapulse-primary: md-palette($md-ap-orange);
  $agorapulse-accent:  md-palette($md-pink, A200, A100, A400);

  // The warn palette is optional (defaults to red).
  $agorapulse-warn:    md-palette($md-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $agorapulse-theme: md-light-theme($agorapulse-primary, $agorapulse-accent, $agorapulse-warn);

  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each
  // component that you are using.
  @include angular-material-theme($agorapulse-theme);
  @include ap-navbar-theme($agorapulse-theme);
}


.ap-default-theme .ap-components {

  .background-dark {
    background: md-color($md-ap-dark, 500);
    color: md-contrast($md-ap-dark, 500);
    h6 {
      color: #8D99A5;
    }
  }

  body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  h1, h2, h3, h4, h5 {
    font-family: Hind, sans-serif;
    font-weight: 400;
  }
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; font-weight: 500; }
  h6 { font-family: 'Open Sans'; font-size: 14px; font-weight: 400; }

  p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.5;
    color: $color-label-p;
  }

  span, p {
    &.label, &.error, &.success {
      font-family: 'Open Sans';
      text-transform: capitalize;
    }
    &.placeholder {
      font-size: 14px;
      color: $color-placeholder;
    }
    &.label {
      font-size: 11px;
      font-weight: 400;
      color: $color-label-p;
      text-transform: uppercase;
    }
    &.error {
      font-size: 13px;
      font-weight: 500;
      color: $color-error;
    }
    &.success {
      font-size: 13px;
      font-weight: 500;
      color: $color-success;
    }
  }

  [rounded] { border-radius: 100%; }

  [md-image] {
    img {
      max-width: 80px;
      min-width: 80px;
      max-height: 80px;
      border-radius: 3px;
    }
    &.large img {
      max-width: 140px;
      min-width: 140px;
      max-height: 140px;
    }
    &.mini img {
      max-width: 40px;
      min-width: 40px;
      max-height: 40px;
    }
  }

}
