// @import '@angular/material/core/theming/all-theme';
@import '../../lib/core/theming/all-theme';
@import 'pallete';
@import 'variables';
// Plus imports for other components in your app.
@import 'components/avatar';
@import 'components/button';
@import 'components/checkbox';
@import 'components/input';
@import 'components/navbar';
@import 'components/radio';

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700);

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

.ap-default-theme {
  // Define the palettes for your theme using the Material Design palettes
  // available in palette.scss (imported above). For each palette, you can
  // optionally specify a default, lighter, and darker hue.
  $agorapulse-primary: md-palette($md-ap-orange);
  $agorapulse-accent:  md-palette($md-ap-blue);

  // The warn palette is optional (defaults to red).
  $agorapulse-save:    md-palette($md-ap-blue);
  $agorapulse-success: md-palette($md-ap-green);
  $agorapulse-warn:    md-palette($md-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $agorapulse-theme: md-light-theme($agorapulse-primary, $agorapulse-accent, $agorapulse-warn);

  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each
  // component that you are using.
  @include angular-material-theme($agorapulse-theme);
  @include ap-avatar-theme($agorapulse-theme);
  @include ap-button-theme($agorapulse-theme);
  @include ap-checkbox-theme($agorapulse-theme);
  @include ap-input-theme($agorapulse-theme);
  @include ap-navbar-theme($agorapulse-theme);
  @include ap-radio-theme($agorapulse-theme);
}

.ap-default-theme {
  body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
}

.ap-default-theme .ap-components {

  .background-dark {
    background: md-color($md-ap-dark, 500);
    color: md-contrast($md-ap-dark, 500);
    h6 {
      color: #8D99A5;
    }
  }

  .background-block {
    background: md-color($md-ap-light-grey, 500);
    color: md-contrast($md-ap-light-grey, 500);
  }

  h1, h2, h3, h4, h5 {
    font-family: Hind, sans-serif;
    font-weight: 400;
  }
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; font-weight: 500; }
  h6 { font-family: 'Open Sans'; font-size: 14px; font-weight: 400; }

  p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.5;
    color: $color-label-p;
  }

  label {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11px;
    color: $color-label-p;
    text-transform: uppercase;
  }
  span, p {
    &.label, &.error, &.success {
      font-family: 'Open Sans';
      text-transform: capitalize;
    }
    &.placeholder {
      font-size: 14px;
      color: $color-placeholder;
    }
    &.label {
      font-size: 11px;
      font-weight: 400;
      color: $color-label-p;
      text-transform: uppercase;
    }
    &.error {
      font-size: 13px;
      font-weight: 500;
      color: $color-error;
    }
    &.success {
      font-size: 13px;
      font-weight: 500;
      &, md-icon {
        color: $color-success;
      }
    }
  }

  [rounded] { border-radius: 100%; }

  [square] { border-radius: 3px; }

////////////////////////////////////////////////////////////////////////////////
///////////////////////////// CUSTOM COMPONENTS ///////////////////////////////
//////////////////////////////////////////////////////////////////////////////

}
